/* Page: http://studiochikishev.ru/ */
/* Exported via StyleURL (https://www.styleurl.app) */
/* paper-kit.css */

h3, .h3 {
  font-size: 2em;
  line-height: 1.2;
}

.title {
  min-height: unset;
}

/* main.css */

.card-pill {
  color: rgba(0, 0, 0, 0.59);
}

.card-pill .title {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}