.justwidget--asst-pic {
    width: 100px !important;
    height: 100px !important;
}

.justwidget--asst-pic-waves {
    bottom: -105px !important;
    border-width: 55px !important;
}

.justwidget.sided .justwidget--inner {
    width: 500px !important;
}

.justwidget.sided {
    max-height: 479.5px !important;
}

.justwidget--asst-pic svg path {
    fill: pink !important;
}

.justwidget--asst-pic {
    background-image: url('https://3dnews.ru/assets/external/illustrations/2019/01/31/982086/sm.browser-773216_960_720.750.jpg') !important;
}

.justwidget--asst-pic svg {
    display: none;
}
